<h1>Your to-do list:</h1>
<dl class="tabs" data-tab data-options="deep_linking: true">
  <dd class="active">
    <%= link_to 'View list', todos_path %>
  </dd>
  <dd>
    <%= link_to 'New todo', new_todo_path %>
  </dd>
</dl>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Notes</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @todos.each do |todo| %>
			<tr>
				<td>
				  <span data-tooltip aria-haspopup="true" class="has-tip tip-left" title="<%= "Created on #{todo.created_at.strftime("%m%e%Y at %w:%M %p")}, Last modified on #{todo.updated_at.strftime("%m%e%Y at %w:%M %p")}" %>">
				    <%= todo.title %>
				  </span>
				</td>
				<td>
					<% if todo.notes? %>
						<a data-open="todo-<%= todo.id %>-notes">View notes</a>

						<div class="reveal" id="todo-<%= todo.id %>-notes" data-reveal>
							<%= todo.notes %>
							<div>
								<button class="close-button" data-close aria-label="Close modal" type="button">
								    <span aria-hidden="true">Close</span>
								</button>
						   </div>
						</div>
					<% end %>
				</td>
				<td><%= link_to 'Show', todo, class: "button-alter" %></td>
				<td><%= link_to 'Edit', edit_todo_path(todo), class: "button-alter" %></td>
				<td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-alter" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New to-do item", new_todo_path, class: "button-new" %>