<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="l-container row">
		<main class="l-container__main small-8 col">
			<%= yield %>
		</main>
		<aside class="l-container__sidebar small-4 col">
			<h3>Sidebar Placeholder</h3>
		</aside>
	</div>

</body>
</html>
